<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--<suite name="TestSuite" thread-count="2" parallel="tests" verbose="1">-->
<suite name="Cucumber test Suite">

<!--    <listeners>-->
<!--        <listener class-name="Runner.NGTestListners"/>-->
<!--    </listeners>-->
<test name="Cucumber Basics Test">
  <!--  <parameter name="browser" value="chrome"/>-->
    <classes>
        <class name="Runner.TestRunner"/>
    </classes>
</test>
</suite>

